<%namespace name='static' file='static_content.html' />

<!-- <h1>${settings.PLATFORM_NAME}</h1> -->
<div class="landing">
  <h1>Find the best online courses, start your learning journey</h1>
  <!-- <img src="/styles/static/icon.png" /> -->
</div>
<!-- <div class="search_bar">
  <input type="text" class="search"></input>
  <select class="dropDown" name="specialization" id="specialization">
    <option value="computerscience">computer science</option>
    <option value="architecture">Architecture</option>
    <option value="economics">Economics</option>
  </select>
  <button>Search</button>
</div> -->
<div class="content">
  <!-- <div class="card">
    <div class="card_header">
      <i class="fa fa-lock icon"></i>
      <img src="${static.url('images/placeholder.png')}" alt="" />
    </div>
    <div class="card_body">
      <div class="card_tag">
        Miscellaneous
      </div>
      <h3>Digital literacy</h3>
    </div>
    <button>Register</button>
  </div> -->
</div>